<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
                           http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-3.0.xsd"
       >
       
       
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="location">
			<value>subscriber-settings.properties</value>
		</property>
	</bean>

	<bean id="eventWheel" class="ns.freetime.pipe.disruptor.DisruptorWheelImpl" >
		<constructor-arg index="0" value="8192"/>
		<constructor-arg index="1" value="2"/>
	</bean>

	<bean id="nettyProtobufGateway" class="ns.freetime.gateway.netty.NettyProtobufGateway">
		<constructor-arg index="0"  value="${port}" />
		<constructor-arg index="1" ref="eventWheel"/>
	</bean>
	
	<util:list id="eventGateways" list-class="java.util.ArrayList">
		<ref bean="nettyProtobufGateway" />
	</util:list>
	
	<bean id="userInterfaceMarketEventHandler" class="ns.freetime.businessprocessor.UIMarketEventProcessor" />
	
	<util:list id="businessEventHandlers" list-class="java.util.ArrayList">
		<ref bean="userInterfaceMarketEventHandler" />
	</util:list>
	

	<bean id="entryPoint" class="ns.freetime.MarketSubscriberMain">
		<constructor-arg index="0" ref="eventGateways" />
		<constructor-arg index="1" ref="eventWheel" />
		<constructor-arg index="2" ref="businessEventHandlers" />
	</bean>

       
</beans>